.dSidebar {
    flex: 0.4;
    height: 93vh;
    margin-top: 15px;
    margin: 10px;
}

.lyricsContainer {
    text-align: center;
    overflow: auto;
    height: 88%;
}

.lyricsContainer::-webkit-scrollbar{
    display: none;
}

.topbarContainer {
    height: 8%;
    margin-bottom: 30px;
    display: flex;
}

.toggleButton{
	left: 2%;
	top: 2.5%;;
	position: absolute;
    border-radius: 30px;
    background-color: none;
    border: none;
    font-size: 2em;
    height: 44px;
}

.toggleButton:hover{
    cursor: pointer;
}
