.dSidebar {
    flex: 0.4;
    height: 93vh;
    margin-top: 15px;
    margin: 10px;
    position: relative;
}

.lyricsContainer {
    text-align: center;
    overflow: auto;
    height: 88%;
}

.lyricsContainer::-webkit-scrollbar{
    display: none;
}

.topbarContainer {
    height: 8%;
    margin-bottom: 30px;
    display: flex;
}

.toggleButton{
	left: 2%;
	top: 2.25%;
	position: absolute;
    border-radius: 30px;
    background-color: none;
    border: none;
    font-size: 2em;
    height: 44px;
}

.toggleButton:hover{
    cursor: pointer;
    color:whitesmoke;
    background-color: darkgray;
}

.modalButtonContainer {
    position: relative;
    left: 15%;
    top: 26%;
    width: 50%;
}

.modalButton:hover {
    cursor: pointer;
    color:whitesmoke;
    background-color: darkgray;
}

.modalButton {
    border: whitesmoke 2px;
    padding: 4%;
    width: 75%;
    border-radius: 30px;
    text-align: center;
    background-color: #eee;
}
