.dSidebar {
    flex: 0.4;
    height: 93vh;
    margin-top: 15px;
    margin: 10px;
}

.lyricsContainer {
    text-align: center;
    overflow: auto;
    height: 88%;
}

.lyricsContainer::-webkit-scrollbar{
    display: none;
}

.topbarContainer {
    height: 8%;
    margin-bottom: 30px;
    display: flex;
}

.toggleContainer {
    flex: 0.16;
}

.toggleButton{
	left: 3%;
	top: 3%;;
	position: absolute;
    background: none;
    border: none;
    font-size: 2em;
}

.toggleButton:hover{
    cursor: pointer;
}

.userContainer {
    flex: 0.84;
    display: flex;
    align-items: center;
}

.userLoginButton {
    margin-top: 1%;
    border: none;
    background: none;
    font-size: 2.1em;
}

.userLoginButton:hover {
    cursor: pointer;
}

